//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center: h2 加入共筆
  p 懷抱開源的精神，歡迎大家一起來開工。
  p 
  ul
    li 
    li 
  br
  .text-center
    .btn.btn-primary.btn-lg.mr-2 源碼庫 [https://github.com/g0vhk-io/hongkong-extradition]
    .btn.btn-primary.btn-lg Hackfoldr [https://beta.hackfoldr.org/extradition/]

