//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center
    h2 加入共筆
    p 懷抱開源的精神，歡迎大家一起來開工。
    .btn.btn-primary.btn-lg #[a(href="https://github.com/g0v-hk/hongkong-extradition/",target="_blank", style="color:white") 源碼庫 #[i.fa.fa-github]]
    |                         
    .btn.btn-primary.btn-lg #[a(href="http://beta.hackfoldr.org/extradition",target="_blank", style="color:white") Hackfoldr]


