//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center: h2 一起來開幹
  p 獎助金專案應懷抱開源的精神，歡迎大家一起來開幹。不過，要如何讓想幫忙的人一起來做呢？建議可以先提供一些最基本的資訊，例如專案庫、共筆、線上群組或聊天室頻道等讓新人可以先了解情況；若專案應用到群眾外包概念 ( 如開放政獻、真的假的 )，亦可將訪客導向相關的入口網。
  p 依照需求，這裡亦可以列出可能需要的協助，例如：
  ul
    li 你是有志青農嗎？阿龜誌徵求科技農夫試用者中，立刻來加一吧！
    li 自己的長輩自己救 - 真的假的流言終結團團員募集中
  br
  .text-center
    .btn.btn-primary.btn-lg.mr-2 源碼庫 #[i.fa.fa-github]
    .btn.btn-primary.btn-lg 立刻來幫忙

