//- module
.section.section-features: .inner
  .row
    .col-md
      .text-center: i.icon.fa.fa-wheelchair-alt
      .text-center: h5 只需改字即可實用
      p 重點文字直接用說明方式表達出來，方便用戶直接修改內文後立即套用。
    .col-md
      .text-center: i.icon.fa.fa-list
      .text-center: h5 內容的架構已預定
      p 敘事基本架構先準備好，照著內文的思路編排，可確保基本內容流暢。
    .col-md
      .text-center: i.icon.fa.fa-code
      .text-center: h5 開源自取且恰當授權
      p 開源於零時政府源碼庫，直接分支就可以使用，不用擔心找不到源碼。

