//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-12.col-md-8
      .row
        .col-6.col-md-4
          label 製作團隊
          .item: a(href="https://www.facebook.com/g0vhk.io") g0vhk
          .item: a(href="https://www.facebook.com/collaction") Collaction
        .col-6.col-md-4
    .col-12.col-md-4.text-center
      a(href="https://grants.g0v.tw/power/",target="_blank")
        img(src="img/poweredby-square-i.svg",style="width:256px",alt="Powered by g0v")

