//- module
.section.section-footer.text-light: .inner
  .row
    .col-12.col-md-8
      .row
        .col-6.col-md-4
          label 本專案
          .item: a(href="https://www.collaction.hk/s/extradition/",target="_blank") 原始提案
          .item: a(href="https://github.com/g0vhk-io/hongkong-extradition",target="_blank") 源碼庫
          .item: a(href="https://www.facebook.com/g0vhk.io/",target="_blank") 社群專頁
          .item: a(href="https://www.facebook.com/groups/g0vhk/",target="_blank") 聯絡窗口
        .col-6.col-md-4
          label 注意事項
            .item: a(href="https://g0v.hackpad.tw/g0vhk-yZjxYOS60kk",target="_blank") 隱私權政策
            .item: a(href="https://creativecommons.org/licenses/by/4.0/",target="_blank") 成果授權 CC by 4.0
    .col-12.col-md-4.text-center
      a(href="https://grants.g0v.tw/power/",target="_blank")
        img(src="img/logo2.png",style="width:256px",alt="Powered by g0v")

