//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-12.col-md-8
      .row
        .col-6.col-md-4
          label 本專案
          .item: a(href="https://g0vhk.io/") 關於我們
          .item: a(href="https://www.collaction.hk/s/extradition/") 原始提案
          .item: a(href="https://github.com/g0vhk-io/hongkong-extradition") 源碼庫
          .item: a(href="https://www.facebook.com/g0vhk.io/") 社群專頁
          .item: a(href="https://www.facebook.com/groups/g0vhk/") 聯絡窗口
        .col-6.col-md-4
          label 注意事項
          .item: a(href="https://g0v.hackpad.tw/g0vhk-yZjxYOS60kk") 隱私權政策
          .item: a(href="https://creativecommons.org/licenses/by/4.0/") 成果授權 cc by 4.0
    .col-12.col-md-4.text-center
      a(href="https://g0vhk.io/",target="_blank")
        img(src="img/poweredby-square-i.svg",style="width:256px",alt="Powered by g0v")

