//- module
.section.section-how.bg-danger.text-light: .inner
  .text-center: h2 開始使用 Middle2
  p Middle2.com 希望保持基本的穩定性，目前暫時不開放自由開設專案，僅允許符合以下條件的專案加入：
  ul
    li 非營利
    li 公民科技/開放資料
    li 開放原始碼
  p 若您的專案符合以上的條件，請直接點擊以下按鈕來訊開通帳號：

  br
  .text-center: .btn.btn-light.btn-lg 申請帳號

