//- module
.section.section-how.bg-danger.text-light: .inner.text-center
  h2 我也想加入一同編輯！
  p 這個資訊總匯的目的，一方面是讓市民可以得到有關逃犯條例最更新的資訊，另一方面也為此場運動留下歷史記錄。
  br
  .btn.btn-light.btn-lg
      a.nav-link(href="https://beta.hackfoldr.org/extradition/https%253A%252F%252Fwekan.opencultures.life%252Fb%252Fu8Lr5rz6zL7pXQTCi%252Fboard", target="_blank") 現在就共筆吧 


