//- module
.jumbotron.text-light
  .text-center
    h1.mb-2 送中惡法一過　香港ENDGAME
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p 再稍微細節一點解釋通過咗香港會點收皮，以一到兩行的長度為主
    br
    .btn.btn-danger.btn-lg(style="width:280px") 了解更多

