//- module
.jumbotron.text-light
  .text-center
    h1.mb-2 具有說服力的一具短話
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p 再稍微細節一點解釋這個專案的幾句話，以一到兩行的長度為主
    br
    .btn.btn-danger.btn-lg(style="width:280px") 現在就開始使用

