//- module
.jumbotron.text-light
  .text-center
    h2.mb-2 送中惡法一過
    h2.mb-2 香港ENDGAME
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p 一旦通過了《逃犯條例》修訂，任何人在香港都有機會被指違反中國法律，被引渡返中國。港人將會在缺乏公平審訊的情況下受審。
    br
    .btn.btn-danger ⬇⬇⬇ 往下了解更多

