//- module
.jumbotron.text-light
  .text-center
    small.gray 中二網 / Middle2
    h1.mb-2 公民科技的小幫手
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p Middle2 透過平台即服務 PaaS 模式#[br]協助您永續經營您的公民科技專案
    br
    .btn.btn-danger.btn-lg(style="width:280px") 現在就開始使用

