//- module
.section.section-media.bg-warning.text-dark: .inner
  .text-center: h2 媒體報導
  .text-center
    img(src="img/media/udn.png",style="height:60px;margin:20px;")
    img(src="img/media/ltn.png",style="height:60px;margin:20px;")
    img(src="img/media/businesstoday.png",style="height:60px;margin:20px;")
