//- module
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href="#") #[img(src="img/middle2.svg")]
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active: a.nav-link(href="#") 關於專案
      li.nav-item.active: a.nav-link(href="#") 如何參與
      li.nav-item.active: a.nav-link(href="#") 新手教學
      li.nav-item.active: a.nav-link(href="#") 關於專案

