//- module
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href="/") 送中條例資訊整理
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active: a.nav-link(href="#") 簡介
      li.nav-item.active: a.nav-link(href="#") 反對論據
      li.nav-item.active: a.nav-link(href="#") 相關報導

