//- module
.section.section-news.bg-dark.text-light: .inner
  .text-center: h2 最新消息
  ul
    li: a(href="/news/") 守護香港反送中「撤回惡法 林鄭下台」大遊行！ #[small / 20190609]
    li: a(href="/news/") 立法會周五加開特別會議討論　林鄭不出席電視辯論 #[small / 20190528]
    li: a(href="/news/") 林鄭「後期外部勢力加入論」　美國最早修例提出半個月已開腔 #[small / 20190523]

