//- module
//- #[a(href="/full_timeline.html",target="blank") (按此打開完整時間表 )]
.section.section-news.bg-dark.text-light: .inner
  script.
    fetch('https://www.collaction.hk/api/extradition_objective?token=mzFly3aDBwWQpnJaHol60A2I9lYccTLy92lyN3QorQbfgLkO5ifxauPOuBF1')
    //fetch('https://assets.collaction.hk/extradition_objective_list.json')
    .then(response => response.json())
    .then(r => {
      for (let i = 0; i < 15; i++) {
        const { title, datetime, content, url } = r.data[i];
        console.log(r.data[i])
        var postNode = document.createElement("div");
        postNode.className = "post";
        postNode.innerHTML = `<h6>${datetime}</h6><h6><a href="${url}" target="_blank">${title}...</a></h6>`;
        document.getElementById("news").appendChild(postNode);
        var lineNode = document.createElement("div");
        lineNode.className = "lineSeparator";
        document.getElementById("news").appendChild(lineNode);
        var brNode = document.createElement("br");
        document.getElementById("news").appendChild(brNode);
      }
    })

  h2.text-center 最新消息 
  p.text-center #[a(href="https://www.collaction.hk/s/extradition/objective",target="blank") 按此打開完整時間表]
  #news

