//- module
.section.bg-white.section-news: .inner
  .text-center: h2 最新消息
  ul
    li: a(href="/news/") 最新消息區塊更新上線了！ #[small / 20190318]
    li: a(href="/news/") 加入官方獎助金圖示！ #[small / 20180713]
    li: a(href="/news/") 收到第一個 Pull Request ！ #[small / 20180317]
    li: a(href="/news/") 獎助金專案樣板網正式啟動！#[small / 20180119]


