//- module
.section.section-traction.bg-danger.text-light: .inner.text-center
  h2 我們的成果
  p 利用一些明確的數字可以給人更具體的感覺
  .sep(style="border-bottom:1px solid rgba(255,255,255,0.6);margin:40px auto;width:150px")
  .row
    .col #[.huge 5] 次成果發表
    .col #[.huge 9] 個實用案例
    .col #[.huge 33] 個社群提起
    .col #[.huge 2] 次實體活動

