//- module
.section.section-why.bg-light: .inner
  .text-center: h2 影片
  br
  .row
    .col: .media-preview(style="background:url(img/video/video1.PNG) center center no-repeat #444;background-size:cover")
    .col
      h4 八十後浪
      .sep.light-dark.gap-sm
      ul
        li #[a(href="https://www.facebook.com/watch/?v=630724980778241", target="_blank") 【香港人・六月九．行出嚟！】]
        li #[a(href="https://www.facebook.com/watch/?v=365026624364523", target="_blank") 【香港人．六月九．行出嚟－法律篇（一）】]
        li #[a(href="https://www.facebook.com/watch/?v=2111174248981335", target="_blank") 【香港人．六月九．行出嚟－法律篇（二）】]
   .row
    .col
      br
      br
      br
   .row
    .col
      h4 思言財雋
      .sep.light-dark.gap-sm
      ul
        li #[a(href="https://www.facebook.com/watch/?v=450338242396589", target="_blank") 【思言財雋呼籲你參加「反送中」大遊行】]
    .col: .media-preview(style="background:url(img/video/video4.PNG) center center no-repeat #444;background-size:cover")