//- module
.section.section-petition.bg-warning.text-light
  .text-center: h2 什麼是這個專案？
  p 簡單扼要的說明這個專案是什麼，或者輔以一些實例、一些使用情境。比方說，Cofact ( 在截稿日前 ) 的首頁只有一個文章列表，就需要一個更清楚的說明。
  p 分項式的說明可以更聚焦地說明專案的特色或要點，也可以附上圖示 ( optional )：

