//- module
.section.section-why.bg-light: .inner
    .text-center
      h2 為什麼要反對《逃犯條例》
    p 一旦通過了《逃犯條例》修訂，#[b 任何人]在香港都有機會被指違反中國法律，被引渡返中國。#[b 香港人及任何逗留在香港的人]將會在缺乏公平審訊的情況下受審。
    ul
      li 《逃犯條例》修訂影響香港各界，#[b 包括商界、新聞界，以及來港旅客。]
        ul
          li 一旦通過修訂，任何入境香港的旅客都有機會被引渡返中國。此外，記者如果在中國採訪政治敏感的新聞，有可能被公安帶走，這些記者返香港後，有可能再被引渡返中國。
      li 中國經常用#[b 非政治罪名去包裝事件，繼而拘捕政治犯。]
        ul
          li 中國指銅鑼灣書店店主桂民海撞車撞死人後潛逃，因而捉拿他。
          li 維權藝術家艾未未流亡外國前，中國指他逃稅，因而關押他。
      li 立法會的非建制派議員一直拒絕引渡逃犯因為#[b 中國並無「公平審訊」]
      li 台灣發生的凶殺案，是#[b 不需要向中國移交逃犯]
        ul
          li 香港絕對可以和台灣簽一次性或是長期移交逃犯協議。台灣陸委會也表明，《逃犯條例》修例有可能令赴港或在港台灣人被移送到中國，在這項威脅未能解除時，台灣不會同意移交陳同佳。換言之，即使《逃犯條例》通過，港府也難以把陳同佳送返台灣受審。
          li 在台灣，陸委會表明不會在《逃犯條例》修法前提下與港府協商，未排除赴港或在港台灣人被移送到大陸的威脅之前，即使香港通過修例，台灣政府亦不會同意移交陳同佳。 
      