//- module
.section.section-why.bg-light: .inner
  .text-center: h2 背景
  p 一個香港青年早年涉嫌在台灣殺害女友後逃返香港，由於港台兩地並無引渡協議，港府以需要引渡該疑犯到台灣受審為由，提出修訂《逃犯條例》。然而，相關修訂其實是無法把疑犯引渡到台灣，反而會令身在香港的任何人，包括香港永久居民和旅客，隨時被引渡返中國受審。
  p 中國並無公平審訊，亦無法治可言，更危險的是中國政府可以隨時安插罪名在港人和任何在香港境內的人身上，以便把其引渡返中國。英國、美國和歐洲多國政府都先後高調發出聲明或外交文件抗議，指有關修訂或會侵蝕香港法治。
