//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-8
      .row
        .col
          label 本專案
          .item: a(href="#") 關於我們
          .item: a(href="#") 原始提案
          .item: a(href="#") 源碼庫
          .item: a(href="#") 社群專頁
          .item: a(href="#") 聯絡窗口
        .col
          label 注意事項
          .item: a(href="#") 使用條款
          .item: a(href="#") 隱私權政策
          .item: a(href="#") 成果授權
        .col
    .col-4.text-center
      img(src="img/g0v-bg-dark.svg",style="width:100px")
      div powered by g0v

