//- module
.section.bg-warning.section-what: .inner
  .text-center: h2 什麼是 MIDDLE2 #[img(src="img/middle2.svg",style="vertical-align:top")]？
  p Middle2 是幫助全世界公民科技相關服務的基礎建設。

  p 參與 g0v 活動好幾年，在黑客松現場看到很多熱心公民黑客，除了出腦力做出服務專案，還要出錢租雲端主機使用。我覺得像 Heroku 這樣的 PaaS 平台（PaaS 是 Platform As A Service 縮寫，意為「平台即服務」）對於開發網路服務相當方便，但是收費方案較昂貴，因此決定自己做一個 PaaS - Middle2。
  
  
  p 我因此一直期許 Middle2 能夠成為屬於 g0v 的基礎建設，讓熱心的公民黑客省下更多錢，並且更輕鬆做出更多服務。感謝 2017 年 g0v 的公民科技創新獎助金提供一筆資金，讓我能夠把個人的基礎建設 Middle2 變成屬於台灣或是全世界做公民科技相關服務的基礎建設！
