//- module
.section.section-why.bg-light: .inner
  .text-center: h2 為什麼要做這個專案？
  p 使用者了解了這是什麼專案以後，再來說明清楚為什麼要做這件事，為什麼要這樣做，做了可以帶來什麼好處。除了單純的文字，亦可穿插各種資源，例如影片、插畫、螢幕錄影、互動式體驗等等。
  p 下面的這一個例子可以想像成是一個插入的影片或插圖的效果，配合右方的敘述文字理解裡面想要表達的重點，亦從左方的數位內容營造出更具吸引人的效果。
  br
  .row
    .col: .media-preview(style="background:url(img/shaq.gif) center center no-repeat #444;background-size:cover")
    .col
      h4 就像是這樣
      .sep.light-dark.gap-sm
      p 左邊可以放一張圖、放個影片、放個動畫等等的東西，甚至有實際可以操作的實例，效果通常都會不錯喔！
      .pull-right.mr-3: a(href="#"): small 了解更多的按鈕 #[i.fa.fa-arrow-right]

